*{
  margin: 0;
  padding: 0;
}
body {
    background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/squares.png) 
  }
    
  .box {
    display: inline-block;       
    border: 1px solid black;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    margin-bottom: -1px;
    box-shadow: 5px 5px 5px #fff;
    }
  
  .off {
    background-color: lightgray;
  }
  
  .on {
    background-color: green;
  }
    
  .box:hover { 
    background: #ffd900;
  }
  
  .center {
    margin: auto;
    display: table;
    margin-top: 10px;
  }
  
  .grid {
    width: 150px;
    line-height: 0;
    margin: auto;
    box-shadow: 0px 0px 20px white;
    margin-top: 20px;
  }
    
  h1, h2, h3, h4 {
    color: white;
    margin: auto;
    text-align: center;
    width: 50%;
    margin-top: 10px;
  }
  
  h4 {
    margin-top: 0px;
  }

  .layout{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #212529;
    
  }
  .title-game{
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
  }
  .App{
    background-color: #212529;
    min-width: 100vw;
    min-height: 100vh;
  }

  .span{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
     height: 7px;
     border-radius: 15px;
     background-color: #ffd900;
     margin: 10px 10px;
  }
  /* .modal-content{
    background-color: #212529;
  }

  .btn-close{
    background: #eeeeee00 var(--bs-btn-close-bg) center/1em auto no-repeat;
    border: 1px;
  } */